<script>
    let socket = io();
    let inputProducto = document.getElementById("tittle")
    let inputPrecio = document.getElementById("price")
    let inputThumb = document.getElementById("thumb")
    let button = document.getElementById("button_listen")
    let addHeader = true;
    button.addEventListener("click", handleEvent)
    function handleEvent(e) {
        let res = {
            producto: inputProducto.value,
            precio: inputPrecio.value,
            thumb: inputThumb.value
        }
        socket.emit("infoProductos", res)
        document.getElementById("form").reset()
    }
    socket.on("mi_sala", data => {
        if (addHeader) {
            let inner = `<table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Producto</th>
                                    <th scope="col">Precio</th>
                                    <th scope="col">imagen</th>
                                </tr>
                            </thead>
                            <tbody id="text_container">
    
                            </tbody>
                        </table>`
            let text = document.getElementById("contenedor_addProduct")
            text.innerHTML = inner;
            addHeader = false;
        }
        let addBody = ``
        data.forEach(items => {
            addBody += `
                        <tr >
                                <th scope="row">
                                    ${items.id}
                                </th>
                                <td>
                                    ${items.producto}
                                </td>
                                <td>
                                    $${items.precio}
                                </td>
                                <td><img src=${items.thumb} alt="" width="30px" height="30px"></td>
                         </tr>`
        })
        let contenedor = document.getElementById("text_container")
        contenedor.innerHTML = addBody;
    })

    socket.on("init", data => {
        if (data.length > 0) {
            if (addHeader) {
                let inner = `<table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Producto</th>
                        <th scope="col">Precio</th>
                        <th scope="col">imagen</th>
                        </tr>
                        </thead>
                        <tbody id="text_container">
                            
                            </tbody>
                            </table>`
                let text = document.getElementById("contenedor_addProduct")
                text.innerHTML = inner;
                addHeader = false;
            }
            let addBody = ""
            data.forEach(items => {
                addBody += `
                            <tr >
                                    <th scope="row">
                                        ${items.id}
                                    </th>
                                    <td>
                                        ${items.producto}
                                    </td>
                                    <td>
                                        $${items.precio}
                                    </td>
                                    <td><img src=${items.thumb} alt="" width="30px" height="30px"></td>
                             </tr>`
            })
            let contenedor = document.getElementById("text_container")
            contenedor.innerHTML = addBody;
        }
    })

</script>