<script>
    let socket = io();
    let inputProducto = document.getElementById("tittle")
    let inputPrecio = document.getElementById("price")
    let inputThumb = document.getElementById("thumb")
    let button = document.getElementById("button_listen")
    let contenedor = document.getElementById("text_container")
    button.addEventListener("click", handleEvent)
    function handleEvent(e) {
        let res = {
            producto: inputProducto.value,
            precio: inputPrecio.value,
            thumb: inputThumb.value
        }
        socket.emit("infoProductos", res)
        document.getElementById("form").reset()
    }
    socket.on("mi_sala", data => {
        let inner = ""
        data.forEach(items => {
            inner += `
                        <tr>
                            <th scope="row">
                                ${items.id}
                            </th>
                            <td>
                                ${items.producto}
                            </td>
                            <td>
                                $${items.precio}
                            </td>
                            <td><img src=${items.thumb} alt="" width="30px" height="30px"></td>
                        </tr>`
        })
        contenedor.innerHTML = inner;
    })
    socket.on("init", data => {
        let inner = ""
        if (data) {
            data.forEach(items => {
                inner += `
                        <tr>
                            <th scope="row">
                                ${items.id}
                            </th>
                            <td>
                                ${items.producto}
                            </td>
                            <td>
                                $${items.precio}
                            </td>
                            <td><img src=${items.thumb} alt="" width="30px" height="30px"></td>
                        </tr>`
            })
            contenedor.innerHTML = inner;
        }
    })

</script>