extends template

block datos

    .container.my-3.d-flex.justify-content-center
      form#form(action='/productos' method='post')
        label Producto:
        input#tittle(type='text' name='tittle')
        label Precio:
        input#price(type='number' name='price')
        label Imagen:
        input#thumb(type='text' name='thumb')
        button(type='submit') Agregar

    .mx-5
        if data.length
            table.table
                thead
                tr
                    th(scope='col') #
                    th(scope='col') Producto
                    th(scope='col') Precio
                    th(scope='col') imagen
                    each val in data
                        tbody
                        tr
                            th(scope='row')=val.id
                            td= val.tittle
                            td= val.price
                            td
                                img(src=val.thumb alt='' width='30px' height='30px')
        else
            h1 No hay productos
                